/*Un commentaire*/
/* Application du style CSS de facon sequentiel de haut en bas, les styles redondant sont ecrase */
/* Exemple de propriete CSS */
p
/* selection des balises paragraphe de la page web*/
    {
    /*
        <propriete>:<valeur>;
        <propriete>:<valeur>;
        <propriete>:<valeur>;
        <propriete>:<valeur>;
    */
}

header,body,div,aside,footer,p
{
    margin: auto;
}

body
{
    background-color: #DDD;
    /* background-image: url(18346.jpg); */
    background-position: center;
    background-size: cover;
    border: 7px inset #0b305a;
    border-radius: 20px;
    outline: 10px dotted #5e3b27;
    outline-offset: 15px;
    width: 1800px;
    /* background-origin et background-clip (padding-box, border-box ou content-box) pour coupure, cesure de l'image en bg
       background-attachment (local(scroll) ou fixed) attache du bg
       meta du background ex. background: color image position size repeat attachment;*/

}

section h1.title_sec
{
    font-style: oblique;
}

/*  selecteur avec un id = #, il est unique, impossible d'avoir 2 mm ID dans une page*/
p#block
{
    font-style: italic;
}

/*  selecteur span dans un selecteur p avec une class color */
p span.color
{
    background-color: white;
    color: purple;
    font-variant: small-caps;
}

/*  selecteur avec une class = .*/
span.color
{
    color: green;
    background-color: grey;
}

/* Possibilite de modifier des formulaires avec attribut specifique, a mettre entre [] */
p[title]
{
    /*  <propriete>:<valeur>;*/
}

/* __________________________________________________________________________________________________________________ */

p.modif_p
{
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 16px; /* px ou % ou em(taille par rapport au parent) ou xx-small -> xx-large*/
    line-height: 25px; /*pareil que pour font size*/
    font-family: Arial, serif; /* definir une police, si police de l'utilisateur, definir une police defaut de secours*/
    font: ; /*meta commande pour font, ecrire les fonctions les une a la suite des autres*/
}

/*_____________________________________________________________________________________________________________________*/

p.modif_r
{
    text-decoration-line: ; /*valeur pour la ligne*/
    text-decoration-color: ; /*valeur pour la couleur*/
    text-decoration-style: ; /*valeur pour le style*/
    text-decoration: underline red; /*on peut faire suivre les 3 valeurs les une apres les autres (line color style), marche pas sur Edge)*/
    text-shadow: 1px 1px 5px green; /*rajoute une ombre au texte (valeur : horizontale verticale intensite couleur)*/
    text-transform: capitalize; /*pour changer le texte (majuscule, capitalize etc...)*/
    text-align: justify; /*gerer l'alignement du texte*/
    vertical-align: middle; /*gerer l'alignement verticale*/
    text-indent: 15px; /*gerer l'indentation*/
    text-overflow: ; /*couper une partie superflue d'un texte*/
}

.modif_s
{
    letter-spacing: 5px; /*gerer l'espacement des lettres*/
    white-space:pre-wrap; /*gerer les espaces blancs*/
    word-spacing: 15px; /*gerer l'espacement des mots*/
    word-break: keep-all; /*coupure des mots en fin de ligne*/
    word-wrap: break-word;
}

.modif_t
{
    direction: rtl; /*direction du texte (visuellement)*/
    text-justify: ; /*pas compatible chrome, opera*/
}

/*  __________________________________________________________________________________________________________________________*/

.modif_b
{
    color: darkblue; /*soit nom de la couleur, soit # + combinaison hexa, soit rgb(0,0,0) // rgba, a pour l'opacite de la couleur de 0 a 1.0 //
                        hsl = hue, saturation, lightness (teinte, saturation, luminosite)*/
}

/*  Pour le fond, voir balise body avec option background plus haut*/

/*____________________________________________________________________________________________________________________________________*/

li
{
    /* list-style-image: url(redcross.png); /*option pour changer l'image de la puce de la liste*/ */
    list-style-position:inside; /*opt pour le positionnement de la puce (ex. puce + texte ou juste texte // s'imager une boite, soit la puce est dans la boite avec le texte, soit elle est a l'exterieur)*/
    list-style-type:circle; /*opt pour le style de la puce si on utilise pas d'image*/
    list-style: ; /*opt meta pour les 3 options list*/
}

/*____________________________________________________________________________________________________________________________________*/

html
{
    background-color: #FFF;

}
/* body voir plus haut*/

div.style
{
    background-color: #35536b;
    width: 600px;
    height: 400px;
}

p.older
{
    background-color: #665e7d;
    width: 300px;
    padding: 30px 500px 0px 5px;
    text-align: justify;
    /* overflow-x: scroll; */
    overflow-wrap: break-word;/*similaire a word-wrap*/
}

table, th, td
{
    border: 1px solid #000;
    border-collapse: separate; /*(separate pour garder des cases, collapse pour coller les cases entres elles)*/
    border-spacing: 20px; /*(cas separate, espace entre les cases)*/
    visibility: collapse;
}

th, td
{
    padding: 10px;
}
/*____________________________________________________________________________________________________________________________________*/

/* width | min-width | max-width
   height| min-height | max-height
*/
/* Content < padding (marge interieur) < border < outline < margin (marge externe)
    padding-top
            -bottom
            -right
            -left
    padding(meta):5px 5px 5px 5px(top right bottom left)

    margin-top
            -bottom
            -right
            -left
    margin(meta):5px 5px 5px 5px(top right bottom left)

    overflow (empecher les depassement de box): auto|hidden|scroll
    overflow-x
    overflow-y
    overflow-wrap(retour a la ligne des overflows)
*/

/*____________________________________________________________________________________________________________________________________*/

/*
    border:width|style|color
        border-width
        border-style:dotted|dashed|solid|double|groove|ridge|inset|outset
        border-color
    border-top:width|style|color
        border-top-width
        idem
        idem

    border-image:<source> <slice> <width> <outset> <repeat> (generateur sur border-image.com)

    border-radius: px|% (pour arrondir les coins, soit les 4 coins soit, px px px px (TL, TR, BR, BL))
        border-top-left-radius
        border-top-right-radius
        border-bottom-right-radius
        border-bottom-left-radius

    outline:<witdh> <style> <color> (contour bordure)
        idblock

    outline-offset:<px> <%> (espace entre outline et border)


*/

/*____________________________________________________________________________________________________________________________________*/

/*  Affichage
        - display
        - visibility
        - opacity
*/
.disp_post
{
    border: 1px solid #000;
    display: block; /*option d'affichage | <none> <block> <inline> <inline-block> <list-item>*/
    visibility: hidden; /*pour masquer mais garde l'emplacement, <collapse> est fait pour masquer les tableaux*/
}

img.opacite
{
    display: block;
    opacity: 0.3; /*opacite de l'image <0 - 1>*/
}

.ib
{
    display: inline-block;
}

/*
    Positionnement
        position: <relative> <fixed> <absolute>
        top, right, bottom, left || s'utilise qvec position:relative
        z-index: || positionnement sens z, le plus haut chiffre sera au premier plan
        float: || permet au texte de se mettre a cote de l'image
        clear: || annule le float
*/
div
{
    width: 200px;
    height: 200px;
}

.first
{
    background-color: #96ab78;
    position: fixed;
    top: 100px;
}

.second
{
    background-color: rgb(146, 103, 171);
    position: relative;
    left: 500px;
    top: 150px;
}

.third
{
    background-color: #6160aa;
    position: absolute;
    bottom: 10px;
}

.fleft
{
    float: left;
}

.hd
{
    background-color: rgb(38, 71, 38);
    height: 80px;
    width: 1000px;
}

.st
{
    background-color: rgb(79, 85, 44);
    width: 800px;
    float: left;
}

.as
{
    background-color: rgb(35, 47, 78);
    width: 200px;
    float: right;
}

.ft
{
    background-color: rgb(71, 51, 38);
    width: 1000;
    clear: right;
}
